<footer class="footer">
  <div class="container">

    <p class="brand-text">
      Ahmed Mohamed – Developer of this project <br>
      Under supervision of Eng. Islam Khidr @ EraaSoft
    </p>

    <div class="social-icons">
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>

    <p class="copy-text">
      © 2025 Ahmed Mohamed. All Rights Reserved.
    </p>

  </div>
</footer>
